[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=raster
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Raster i pixelart
Comment=To jest wtyczka do rasteryzacji i PixelArtu