[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=raster
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Raster
Comment=Raster i pixelart
